apiVersion: v1
kind: ConfigMap
metadata:
  name: glance-config
data:
  glance.yml: |
    server:
      assets-path: /app/assets
    theme:
      custom-css-file: /assets/user.css
    pages:
      - $include: home.yml