---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app sparkyfitness-frontend
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      app:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              # renovate: datasource=docker depName=ghcr.io/codewithcj/sparkyfitness-frontend
              repository: ghcr.io/codewithcj/sparkyfitness-frontend
              tag: v0.16.3.2@sha256:af88bcd3e31fbee81b69a1c8eb80385748031575b7c437cca3ce66e4519dd5d0
            env:
              SPARKY_FITNESS_SERVER_HOST: sparkyfitness-server.workloads.svc.cluster.local
              SPARKY_FITNESS_SERVER_PORT: 3010
            resources:
              requests:
                cpu: 15m
                memory: 64M
              limits:
                memory: 64M
    service:
      web:
        controller: app
        ports:
          http:
            port: &httpPort 80
    route:
      app:
        hostnames:
          - fit.mrtb.io
        parentRefs:
          - name: gateway 
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: sparkyfitness-frontend-web
                port: *httpPort