---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app sparkyfitness-frontend
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      app:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              # renovate: datasource=docker depName=ghcr.io/codewithcj/sparkyfitness-frontend
              repository: ghcr.io/codewithcj/sparkyfitness-frontend
              tag: v0.16.4.3@sha256:6eb101d606ac2df7c1e825ab31ca6bf1701fc5af048254899296370f61f97546
            env:
              SPARKY_FITNESS_SERVER_HOST: sparkyfitness-server.workloads.svc.cluster.local
              SPARKY_FITNESS_SERVER_PORT: 3010
            resources:
              requests:
                cpu: 15m
                memory: 64M
              limits:
                memory: 64M
    service:
      web:
        controller: app
        ports:
          http:
            port: &httpPort 80
    route:
      app:
        hostnames:
          - fit.mrtb.io
        parentRefs:
          - name: gateway 
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: sparkyfitness-frontend
                port: *httpPort
          - filters:
              - type: RequestHeaderModifier
                requestHeaderModifier:
                  add:
                  - name: "add-header"
                    value: "X-Forwarded-For"
         