---
machine:
  install:
    diskSelector:
      model: TS240GMTS420S
  network:
    hostname: alpha.k8s.internal
    interfaces:
      - interface: enp1s0
        dhcp: true
        vip:
          ip: 172.16.1.230
  files:
    - content: |
        apiVersion: apiserver.config.k8s.io/v1beta1
        kind: AuthenticationConfiguration
        jwt:
        - issuer:
            url: https://auth.mrtb.io
            audiences:
            - {{ ENV.AUTH_CLIENT_ID }}
          claimMappings:
            username:
              claim: preferred_username
              prefix: "oidc:"
            groups:
              claim: groups
              prefix: "oidc:"
          userValidationRules:
          - expression: "!user.username.startsWith('system:')"
            message: "username cannot use reserved system: prefix"
      permissions: 0o644
      path: /var/kubernetes/authenticationconfiguration.yaml
      op: create
---
apiVersion: v1alpha1
kind: VolumeConfig
name: EPHEMERAL
provisioning:
  maxSize: 80GiB
---
# user-volume.patch.yaml
apiVersion: v1alpha1
kind: UserVolumeConfig
name: PERSISTENT
provisioning:
  diskSelector:
    match: system_disk
  minSize: 100GiB
  grow: true