---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: k8up
spec:
  interval: 30m
  chart:
    spec:
      chart: k8up
      version: 4.8.6
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: k8up
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace